.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.dataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.loading {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.loadingContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 1320px) {
    .dataContainer :nth-child(1) {
        order: 2;
    }

    .dataContainer :nth-child(2) {
        order: 1;
    }
}